1. всегда прежде чем редактировать файл полностю читай его.
2. никогда сначала не переписывай файл целиком, сначала всегда пробуй использовать replace_in_file.
3. если replace_in_file не работает - пробуй разделить правку на меньшие части, или перечитать файл.
4. в крайних случаях используй write_to_file только после нескольких неудач с replace_in_file либо для новых файлов.
5. перед write_to_file всегда еще раз перечитывай его, чтобы сохранить содержимое и полностью его восстановить с необходимыми правками и ничего не потерять.
6. никогда не переписывай файлы с переводами и лог файлы - всегда используй для них replace_in_file.
7. никогла не оставляй заглушки, placeholders или TODO всегда все делаем под production-ready. Если оставляешь plaseholder или заглушку - обязательно записывай это в log.